/* Container pour la table */
.table-container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ff9800;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.table-container:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Styles pour la table */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 16px;
  text-align: left;
}

th {
  background-color: #ffe0b2;
  font-weight: bold;
  color: #ef6c00;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 2px solid #ff9800;
}

td {
  color: #616161;
}

mat-icon {
  vertical-align: middle;
  margin-right: 8px;
}

button {
  margin-right: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #ff9800;
  color: #fff;
}

@media (max-width: 600px) {
  .table-container {
    width: 100%;
    padding: 10px;
  }

  table {
    font-size: 14px;
  }

  th, td {
    padding: 8px;
  }

  button {
    margin: 4px;
  }
}
.fab-container {
  position: fixed;
  bottom: 40px;
  right: 10px;
  display: flex;
  gap: 10px;
}
.animate__animated.animate__fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}
/* Message card styles */
.message-card {
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-size: 18px;
  color: #ff5722;
  background-color: #fff3e0;
  border: 1px solid #ff9800;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}