<div class="dashboard-container">
  <!-- Statistiques des Projets par Description -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-icon>pie_chart</mat-icon> Répartition des Projets par Description
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas id="projectStatusChart"></canvas>
    </mat-card-content>
  </mat-card>

  <!-- Projets par Stagiaire -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-icon>bar_chart</mat-icon> Nombre de Projets par Stagiaire
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas id="projectsPerStagiaireChart"></canvas>
    </mat-card-content>
  </mat-card>

  <!-- Projets par Date d'Affectation -->
  <!-- Commenté pour l'instant, mais peut être réactivé -->
  <!-- <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-icon>calendar_today</mat-icon> Nombre de Projets par Date d'Affectation
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas id="projectsByAssignmentDateChart"></canvas>
    </mat-card-content>
  </mat-card> -->
</div>
